$brand-gray: #f2f2f2;
$brand-dark-gray: #dedede;
$brand-blue: #171718;
$brand-dark-blue: #0e0e0e;
$brand-orange: #150505;
$brand-btn: #2e8836;
$brand-btn-active: #14602b;
$brand-primary-dark: #101011;
$white: #ffffff;
$black: #000000;
$toolbox-btn-active: #0e0e0e;
$vcode-panel: #161616;
$vcode-content: #1f1f1f;

$red: #c03;
$blue: #29abe2;
$green: #32cd32;
$gray: #dedede;